* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-primary: #e2e8f0;
  --gray-50: #fefeff;
  --gray-100: #f9f9f9;
  --gray-400: #a7a6a6;
  --gray-700: #363636;
  --gray-800: #262626;
  --gray-900: #141414;

  --red-300: #ff5959;
  --red-500: #e63939;
  --red-700: #bf1313;
}

main {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
