* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-50: #fefeff;
  --gray-100: #f9f9f9;
  --gray-400: #a7a6a6;
  --gray-700: #363636;
}

a {
  color: inherit;
  text-decoration: none;
}
