* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-primary: #e2e8f0;
  --gray-50: #fefeff;
  --gray-100: #f9f9f9;
  --gray-400: #a7a6a6;
  --gray-700: #363636;
  --gray-800: #262626;
  --gray-900: #141414;
  --gray-950: #010100;

  --red-300: #ff5959;
  --red-500: #e63939;
  --red-700: #bf1313;

  /* cores para a seção diversidade adicionadas */
  --purple-500: rgba(240, 135, 255, 1);
  --purple-600: rgba(184, 82, 214, 1);
  --purple-700: rgba(138, 56, 163, 1);
}


main {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
