.footer {
  width: 100%;
  height: 12.5rem;
  padding-inline: 2rem;
  background-color: var(--gray-700);
  color: var(--text-color-primary);
}

.footerContent {
  height: 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
  font: 600 1.25rem "Noto Sans", sans-serif;
}

.socialLinks {
  display: flex;
  color: var(--red-500);
  gap: 2.5rem;
}

@media (max-width: 880px) {
  .footer {
    height: auto;
  }

  .footerContent {
    flex-direction: column;
    height: auto;
  }

  .navContent {
    margin-block: 2rem;
  }

  .socialLinks {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-block: 2rem;
  }
}
