.section {
  background-color: var(--gray-50);
  width: 100%;
  max-width: 1439px;
  height: auto;
  padding: 50px 20px;
  margin: 0 auto;
}

.cardHeader {
  margin-bottom: 1.5rem;
  display: flex; /* Para alinhar a imagem e o título lado a lado */
  align-items: center; /* Centralizar verticalmente */
}

.cardHeader h3 {
  font: 700 2rem "Inter", sans-serif;
  margin-left: 10px; 
}

.cardIcon {
  width: 10px;
  height: 10px;
  margin-right: 2px; 
}

@media (min-width: 768px) {
  .section {
    padding: 72px 40px;
  }
}

@media (min-width: 360px) {
  .section {
    padding: 60px 20px;
  }
}

@media (min-width: 414px) {
  .section {
    padding: 70px 30px;
  }
}

@media (min-width: 390px) and (max-width: 420px) {
  .section {
    padding: 70px 40px;
  }
}

@media (min-width: 428px) {
  .section {
    padding: 80px 50px;
  }
}

@media (min-width: 360px) and (max-width: 740px) {
  .section {
    padding: 70px 60px;
  }
}

.cardsSectionTitle {
  text-align: left;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 95px; /* Ajustado para alinhar melhor o título */
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: var(--red-700);
}

@media (max-width: 1024px) {
  .cardsSectionTitle {
    font-size: 2.25rem;
  }
}

@media (max-width: 768px) {
  .cardsSectionTitle {
    font-size: 2rem;
    padding-left: 30px; /* Ajuste de padding-left para telas menores */
  }
}

@media (max-width: 480px) {
  .cardsSectionTitle {
    font-size: 1.55rem;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Ajustado para afastar os cartões */
  gap: 20px;
  margin-bottom: 0;
  padding-left: 10px; /* Adicionado padding para garantir espaçamento nas bordas */
  padding-right: 10px; /* Adicionado padding para garantir espaçamento nas bordas */
}

.card {
  background: var(--text-color-primary);
  box-shadow: 0px 2px 10px var(--gray-950);
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 calc(45% - 20px); /* Ajuste para garantir espaçamento adequado */
  max-width: 500px;
  margin: 10px;
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(100% - 40px); /* Ajustado para garantir espaçamento lateral em telas menores */
    max-width: none;
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 calc(100% - 20px); /* Ajustado para garantir espaçamento lateral em telas muito pequenas */
    max-width: none;
  }
}
