.headerContainer {
  width: 100%;
  height: 5rem;
  background-color: var(--gray-900);
  color: var(--gray-400);
  font: 400 1.5rem "Noto Sans", sans-serif;
}

.headerContent {
  max-width: 1280px;
  height: 5rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
}

.logoImg {
  width: 100%;
}

.navContent {
  display: flex;
  gap: 1rem;
}

.loginButton {
  background-color: var(--gray-700);
  padding-inline: 1rem;
  padding-block: 0.625rem;
  border-radius: 1rem;
}

.loginButton a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
