.headerContainer {
  width: 100%;
  height: 5rem;

  background-color: var(--gray-950);

  padding-inline: 2rem;

  color: var(--gray-400);
  font: 400 1.5rem "Noto Sans", sans-serif;
  overflow-x: hidden;
}

.headerContent {
  max-width: 1280px;
  height: 5rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
}

.logoImg {
  width: 100%;
}

.navContent,
.navContentMobile {
  display: flex;
  gap: 1rem;
}

.loginButton,
.loginButtonMobile {
  background-color: var(--gray-700);
  padding-inline: 1rem;
  padding-block: 0.625rem;
  border-radius: 1rem;
}

.loginButton a,
.loginButtonMobile a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hamburgerButton,
.closeButton {
  cursor: pointer;
  display: none;
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
}

/* Ajustes para telas maiores que 1280px (desktop grande) */
@media (min-width: 1281px) {
  .headerContent {
    padding-inline: 4rem;
  }
}

/* Ajustes para telas entre 1024px e 1280px (desktop médio) */
@media (max-width: 1280px) and (min-width: 1024px) {
  .headerContent {
    padding-inline: 3rem;
  }
}

/* Ajustes para telas entre 768px e 1024px (tablet) */
@media (max-width: 1024px) and (min-width: 768px) {
  .headerContent {
    padding-inline: 2rem;
  }
}

/* Ajustes para telas entre 480px e 768px (tablet pequeno / celular grande) */
@media (max-width: 768px) {
  /* Esconde navegação e botão de login padrão */
  .navContent,
  .loginButton {
    display: none;
  }

  /* Mostra a seção mobile com layout de coluna */
  .mobileSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 100;
    background-color: #000000;
    gap: 2.5rem;
    padding: 2rem;
    height: 100vh;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  }

  /* Navegação mobile com layout de coluna */
  .navContentMobile {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  /* Mostra os botões de menu em telas menores */
  .hamburgerButton,
  .closeButton {
    display: flex;
  }
}

/* Ajustes para telas menores que 480px (celular pequeno) */
@media (max-width: 480px) {
  .mobileSection {
    width: 100%;
  }
}