.cardSectionContainer {
  background-color: var(--gray-100);
  padding-inline: 2rem;
}

.cardsSectionTitle {
  text-align: center;
  margin-top: 4.5rem;
  margin-bottom: 4rem;
  font: 700 3rem "Inter", sans-serif;
}

.cards {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 980px) {
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
