.section {
  background-color: var(--gray-50);
  width: Fixed (1,439px)px;
  height: Hug (792px)px;
  top: 720px;
  padding: 72px 161px 72px 161px;
  gap: 217px;
}

.cardsSectionTitle {
  text-align: left;
  margin: 0; 
  padding-top: 70px; 
  padding-bottom: 70px; 
  font: 700 3rem "Inter", sans-serif;
  color: var(--red-700);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0rem; 
}
