.backgroundColor {
  background-color: var(--gray-100);
  width: 100%;
}

.cardsSection {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos na seção */
  margin-inline: auto;
  max-width: 1280px;
}

.cardsSection h2 {
  text-align: center;
  margin-top: 4.5rem;
  margin-bottom: 4rem;
  font: 700 2.5rem "Inter", sans-serif;
  color: #ff0000; 
}

.cardsGrid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 6rem; 
}
