.card {
  background-color: var(--gray-50);
  border-radius: 10px;
  box-shadow: 0px 3px 8px 0px #00000040;
  margin-bottom: 4rem;
  padding: 1rem 2rem 1rem 1rem;
  max-width: 450px;
  width: 100%;
}

.cardHeader {
  margin-bottom: 1.5rem;
}

.cardHeader h3 {
  font: 700 2rem "Inter", sans-serif;
}

.cardBody p {
  font: 400 1.25rem "Noto Sans", sans-serif;
  line-height: 2rem;
  padding-bottom: 2.75rem;
}
