.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px; /* Ajustado o padding para telas menores */
  max-width: 100%; /* Ocupar toda a largura disponível */
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Ajustes específicos para iPad */
  .section {
    padding: 60px 30px; /* Ajuste de padding para iPads */
  }

  .container {
    display: flex;
    flex-direction: column; /* Mantém a direção em coluna para melhor legibilidade */
    align-items: center;
  }

  .image {
    width: 100%;
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura máxima */
    height: auto;
    margin-top: 20px; /* Adiciona espaço acima da imagem */
    max-width: 503px; /* Largura máxima da imagem */
    min-width: 10%;
  }

  .texts {
    text-align: center; /* Centraliza o texto */
    max-width: 100%; /* Garante que o texto ocupe toda a largura disponível */
  }

  .texts li {
    font-size: 18px; /* Ajuste de tamanho de fonte */
  }
}

@media (min-width: 360px) {
  /* Media query para iPhone SE */
  .section {
    padding: 60px 20px;
  }
}

@media (min-width: 414px) {
  /* Media query para iPhone XR */
  .section {
    padding: 70px 30px;
  }
}

@media (min-width: 390px) and (max-width: 420px) {
  /* Media query para iPhone 12 Pro e modelos similares */
  .section {
    padding: 70px 40px;
  }
}

@media (min-width: 428px) {
  /* Media query para iPhone 14 Pro Max */
  .section {
    padding: 80px 50px;
  }
}

@media (min-width: 360px) and (max-width: 740px) {
  /* Media query para Samsung Galaxy S8+ */
  .section {
    padding: 70px 60px;
  }
}

.section h2 {
  margin-bottom: 20px;
  color: var(--red-700);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px; /* Ajuste de tamanho para telas menores */
  font-weight: 700;
  line-height: 1.5;
  max-width: 100%; /* Ajustado para ocupar toda a largura disponível */
}

.sectionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .sectionContent {
    flex-direction: row; /* Alterado para linha em telas maiores */
  }
}

.texts {
  max-width: 100%; /* Ajustado para ocupar toda a largura disponível */
  text-align: left;
  margin-bottom: 20px;
}

.texts ul {
  list-style: none;
  padding: 0;
}

.texts li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px; /* Ajuste de tamanho para telas menores */
}

.texts li .icon {
  margin-right: 10px;
  width: 24px; 
  height: 24px; 
}

.image {
  max-width: 100%; /* Ajustado para ocupar toda a largura disponível */
  height: auto;
  margin-top: 20px; /* Adicionado espaço superior para separar a imagem do texto */
}